  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    box-sizing: border-box;
    font: 62.5%;
    font-family: 'Delicious Handrawn'
}

.tic-tac-toe-title{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    font-size: 50px;
}

.game-grid-container{
    margin-top: 50px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "grid-box-0 grid-box-1 grid-box-2"
    "grid-box-3 grid-box-4 grid-box-5"
    "grid-box-6 grid-box-7 grid-box-8";
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    justify-content: center;
}

.grid-box{ 
    display: grid;
    font-size: 50px;
    background: #E2E8F0;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.grid-box-0{
    grid-area: grid-box-0;
}

.grid-box-1{
    grid-area: grid-box-1;
}

.grid-box-2{
    grid-area: grid-box-2;
}

.grid-box-3{
    grid-area: grid-box-3;
}

.grid-box-4{
    grid-area: grid-box-4;
}

.grid-box-5{
    grid-area: grid-box-5;
}

.grid-box-6{
    grid-area: grid-box-6;
}

.grid-box-7{
    grid-area: grid-box-7;
}

.grid-box-8{
    grid-area: grid-box-8;
}